
table {
  width: 100%;
}

.outerwrapper {
  width: 70%;
  margin:auto;
}

.header {
  text-align: center;
}

.header h2 {
  display: inline-block;
}

.rounddiv {
  width:35px;
  margin: auto;
  height: 35px;
  border: solid 1px black;
  border-radius: 20px;
}

.innertitle {
  font-weight: bolder;
}

.secondline {
  font-weight: lighter;
  font-size: .8em;
}

.centered {
  text-align: center;
}

.headarrow {
  background-color: lightgrey;
}

.gold {
  background-color: #FFD700;
}

.silver {
  background-color: #C0C0C0;
}

.bronze {
  background-color: #CD7F32;
}

.rhodium {
  background-color: #464646;
}

.footer {
  text-align: center;
  padding-top: 20px;
}

.backbutton {
  color: blue;
  border: solid 2px blue;
  width: 120px;
  font-size: 1.25em;
  border-radius: 20px;
}

.even {
  background-color: lightgray;
}
