body {
  text-align: center;
}

#playerInfo {
  display: inline-block;
  width: 300px;
}
#playerAvatar {
  width: 150px;
}

#dicePanel {
  display: inline-block;
  width: 310px;
  background-image: url(tabletop.jpeg);   
  height: 190px;
  padding-top: 96px;
}

#dicePanel img {
  width: 50px;
}

#roll {
  background-color: #FF0000;
  color: white;
  padding: 7px;
  font-size: 1.05em;
  border-radius: 5px;
}

#game {
  background-color: #FF0000;
  color: white;
  padding: 7px;
  font-size: 1.05em;
  border-radius: 5px;
}

.hide {
  display: none;
}


.saved {
  border: solid 3px green;
  border-radius: 10px;
}

table, tr, td {
  border: solid 1px black;
  color: white;
  border-collapse: collapse;
  border-spacing: 15px;
  font-weight: bold;
}

table {
  margin: auto;
}

td {
  padding: 8px;
}

#scoreCard {
  width: 170px;
  margin-left: 200px;
  padding: 4px;
  background-color: #FF0000;
}

body {background-color: black;}

h3 {
  color: white;
  font-size: 3.1em;
  background-image: url(red.jpeg);
}

#playerName {
  color: white;
  font-size: -webkit-xxx-large;
}

.unscored {
  background-color: yellow;
  color: black;
}

.unscored:hover {
  cursor: pointer;
}

.totals {
  background-color: black;
  color: white;
}
