.tablewrapper {
  margin: auto;
  text-align: center;
  width: 70%;
}

.selection {
  width: 300px;
  margin: auto;
  text-align: center;
}

#table {
  background-color: #228B22;
  color: white;
  padding:10px 25px;
  font-size: 1.1em;
}
